{% extends "bloodbankapp/dashboard.html" %} {% block panelcontent %} {% load
static %} {% load crispy_forms_tags %}
<div class="main-content">
  <div class="form dashboard">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Appointment</legend>
        <h2>Are you sure you want to delete this appointment</h2>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">
          Yes, Delete
        </button>

        <a
          style="margin:0 auto;"
          class="mt-2 btn btn-outline-secondary"
          href="{% url 'appointment-list'%}"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock panelcontent %}
