{% extends "bloodbankapp/base.html" %} {% block content %}
<div>
  <div
    @click="isCollapsed= !isCollapsed"
    v-bind:class="{ 'background-dark-collapse': !isCollapsed }"
  ></div>
  <button
    v-on:click="isCollapsed= !isCollapsed"
    class="btn btn-outline-primary navbar-toggle-fixed"
  >
    <span v-if="isCollapsed"><i class="fa fa-bars"></i></span>
    <span v-if="!isCollapsed"><i class="fa fa-close"></i></span>
  </button>
  <nav class="navbar navbar-default fixed-top">
    <div class="navbar-collapse">
      <ul class="nav justify-content-end">
        <div class="btn-group">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{society.societyName}}
          </a>
          <div class="user-dropdown-navbar dropdown-menu dropdown-menu-right">
            <!-- <button class="dropdown-item" type="button">Action</button>
                  <button class="dropdown-item" type="button">Another action</button>
                  <button class="dropdown-item" type="button">Something else here</button> -->
            <div class="divider"></div>
            <a href="#" class="dropdown-item">Contact Support</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"
              ><span class="small">Society ID: {{ societyID }}</span></a
            >
            <div class="dropdown-item-text loggedin-content">
              <span class="small">Logged in as:</span><br />
              <span class="break"></span
              ><i class="fa fa-user-circle"></i> {{userEmail}}
              <span class="break"></span>
              <button
                @click="logout()"
                class="btn btn-outline-primary logout-btn"
              >
                Log out
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <!-- End Top Navbar -->
  {% block panelcontent %}{% endblock panelcontent %}
  <!-- Begin sidebar -->
  <div
    class="sidebar"
    v-bind:class="{ 'collapsed': isCollapsed }"
    v-on:click="isCollapsed= !isCollapsed"
  >
    <section class="brand-logo">
      <a href="#">
        <img :src="society.logoURL" />
      </a>
    </section>
    <span class="break"></span>

    <div class="nav">
      <a
        to="/manage_members"
        :class="{active: activePageId === '/manage_members'}"
        ><i class="fa fa-user text-info" aria-hidden="true"></i> Manage
        Residents</a
      >
      <a
        to="/manage_serviceperson"
        :class="{active: activePageId === '/manage_serviceperson'}"
        ><i class="fa fa-cogs text-danger" aria-hidden="true"></i> Manage
        Servicemen
      </a>
      <span class="break"></span>
      <span class="break"></span>
      <a to="/complaints" :class="{active: activePageId === '/complaints'}"
        ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Complaints</a
      >
      <!-- <a href="dashboard/complaints" :class="{active: activePageId === 'Complaints'}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Complaints </a> -->
      <a
        to="/notifications"
        :class="{active: activePageId === '/notifications'}"
        ><i class="fa fa-podcast" aria-hidden="true"></i> Notifications
      </a>
      <a to="/payments" :class="{active: activePageId === '/payments'}"
        ><i class="fa fa-inr text-warning" aria-hidden="true"></i> Payments
      </a>
      <a to="/visitors" :class="{active: activePageId === '/visitors'}"
        ><i class="fa fa-id-badge text-success" aria-hidden="true"></i>
        Visitors
      </a>
    </div>
    <div class="bottom text-center text-white">
      <span class="small">Powered by</span>
      <span class="break"></span>
      <img src="../assets/img/suvidha-logo-white.png" height="45px" />
      <span class="break"></span>
      <span class="break"></span>
    </div>
  </div>
  <!-- End sidebar -->

  <div id="spotlight_wrapper">
    <input type="text" id="spotlight" placeholder="Spotlight Search" />
    <div class="blurred-box"></div>
  </div>
  <div id="spotlight_back"></div>
</div>
{% endblock content %}
