{% extends "bloodbankapp/base.html" %} {% block content %}
<body>
  <div>
    <div
      @click="isCollapsed= !isCollapsed"
      v-bind:class="{ 'background-dark-collapse': !isCollapsed }"
    ></div>
    <button
      v-on:click="isCollapsed= !isCollapsed"
      class="btn btn-outline-primary navbar-toggle-fixed"
    >
      <span v-if="isCollapsed"><i class="fa fa-bars"></i></span>
      <span v-if="!isCollapsed"><i class="fa fa-close"></i></span>
    </button>
    <nav class="navbar navbar-default fixed-top">
      <div class="navbar-collapse">
        <ul class="nav justify-content-end">
          <div class="btn-group">
            <a
              href="{% url 'profile-update' user.profile.id %}"
              class="nav-link"
            >
              {{request.user.username}}
            </a>
            <a
              href="{% url 'logout' %}"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              LOG OUT
            </a>
          </div>
        </ul>
      </div>
    </nav>
    <!-- End Top Navbar -->
    {% block panelcontent %}{% endblock panelcontent %}
    <!-- Begin sidebar -->
    <div
      class="sidebar"
      v-bind:class="{ 'collapsed': isCollapsed }"
      v-on:click="isCollapsed= !isCollapsed"
    >
      <section class="brand-logo">
        <a href="#">
          <img :src="society.logoURL" />
        </a>
      </section>
      <span class="break"></span>
      {% if request.user.username == 'blooddonation.app0@gmail.com'%}
      <div class="nav">
        <a
          href="{% url 'hospital-create' %}"
          :class="{active: activePageId === '/manage_serviceperson'}"
          ><i class="fa fa-cogs text-danger" aria-hidden="true"></i> Add
          Hospitals
        </a>
        <span class="break"></span>
        <span class="break"></span>
        <a
          href="{% url 'hospital-list'%}"
          :class="{active: activePageId === '/complaints'}"
          ><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Manage
          Hospitals</a
        >
      </div>
      {% else %}
      <div class="nav">
        <a
          href="{% url 'profile-update' user.profile.id %}"
          :class="{active: activePageId === '/manage_members'}"
          ><i class="fa fa-user text-info" aria-hidden="true"></i> Manage
          Profile</a
        >
        <a
          href="{% url 'appointment-list'%}"
          :class="{active: activePageId === '/manage_serviceperson'}"
          ><i class="fa fa-cogs text-danger" aria-hidden="true"></i> My
          Appointments
        </a>
        <span class="break"></span>
        <span class="break"></span>
        <a
          href="{% url 'hospital-list'%}"
          :class="{active: activePageId === '/complaints'}"
          ><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Close
          Hospitals</a
        >
      </div>

      {% endif %}
      <!-- <div class="bottom text-center text-white">
        <span class="small">Powered by</span>
        <span class="break"></span>
        <img src="../assets/img/suvidha-logo-white.png" height="45px" />
        <span class="break"></span>
        <span class="break"></span>
      </div> -->
    </div>
    <!-- End sidebar -->

    <div id="spotlight_wrapper">
      <input type="text" id="spotlight" placeholder="Spotlight Search" />
      <div class="blurred-box"></div>
    </div>
    <div id="spotlight_back"></div>
  </div>
</body>
{% endblock content %}
