{% extends "bloodbankapp/dashboard.html" %} {% block panelcontent %} {% load
static %}
<div class="main-content">
  {% for hospital in hospitals %}
  <div class="card mb-3">
    <div class="card-header bg-danger text-white">
      <h3>{{ hospital.name }}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">City: {{ hospital.city }}</h5>
      <a href="{{ hospital.map_url }}" class="btn btn-primary">Google Maps</a>
      {% if request.user.username == 'blooddonation.app0@gmail.com' %}
      <a class="btn btn-primary" href="{% url 'hospital-delete' hospital.id %}"
        >Delete</a
      >
      <a class="btn btn-primary" href="{% url 'hospital-update' hospital.id %}"
        >Update</a
      >
      {% else %}
      <a
        class="btn btn-primary"
        href="{% url 'appointment-create' hospital.id %}"
        >Book Appointment</a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock panelcontent %}
