{% extends 'bloodbankapp/base.html'%} {% block content %}
{% load static %}

<body class="logingScreen">
    <div class="login-page">
        <div class="form">

            <form class="login-form" v-on:submit.prevent>
                
                <button> <a href="{% url 'loginUser' %}">Login as User </a></button>
                <br>
                <button><a href="{% url 'loginAdmin' %}">Login as Admin </a></button>
                <!--  <p class="message">Not registered? <router-link to="/signup">Create an account</router-link> -->
                <!-- </p> -->
            </form>
        </div>
</body>
{% endblock content %}