{% extends "bloodbankapp/dashboard.html" %} {% block panelcontent %} {% load
static %}
<div class="main-content">
  <div class="form dashboard card text-white mb-3">
    <div class="card-header bg-primary"><h1>Information</h1></div>
    <div class="card-body">
      <h4 class="card-title text-primary">Notes before donating:</h4>
      <ul class="text-dark">
        <li>
          The donor must be in a good health condition in order to donate.
        </li>
        <li>Age between 18 to 60 years.</li>
        <li>Weight must be above 50 kg.</li>
        <li>Haemoglobin level at least 12 g/dl.</li>
        <li>
          Avoid donating if you have been through any proceasure, injection,
          peircing or tatto recently.
        </li>
        <li>You must not be pregnant or breastfeeding.</li>
      </ul>
      <p class="text-primary">
        The above information is stated according to the world health
        organization.
      </p>
    </div>
    <div class="card-footer">
      <p class="text-dark">
        This application is meant for booking donation purposes. For individuals
        suggestions and questions, and hospitals requests, Kindly Email us at:
      </p>
      <a class="text-primary" href="mailto:blooddonation.app0@gmail.com"
        >blooddonation.app0@gmail.com</a
      >
    </div>
  </div>
</div>
{% endblock panelcontent %}
