{% extends "bloodbankapp/base.html" %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}
  
<body class="logingScreen">
<div class="login-page" style="width:70vw;">
    <div class="form dashboard" style="margin-bottom:0;">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Have An Account? <a class="ml-2" href="{% url 'loginUser' %}">Sign In Now</a>
            </small>
        </div>
    </div>
    </body>
    {% endblock content %}