/*Resets and declarations*/
:root {
  font-size: 14.5px;

  /*Declare CSS variables*/
  /*End declare CSS variables*/
}

select {
  cursor: pointer;
}

.search-icon {
  display: inline-block;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #0069ff;
}

::selection {
  color: white;
  background: #0069ff;
}

/** {background-color: rgba(105, 78, 0, 0.1);border: 1px solid #eeeeee05;}
* * {background-color: rgba(105, 78, 0, 0.12);border: 1px solid #eeeeee05;}
* * *{background-color: rgba(105, 78, 0, 0.15);border: 1px solid #eeeeee05;}
* * * *{background-color: rgba(105, 78, 0, 0.15);border: 1px solid #eee;}
* * * * *{background-color: rgba(105, 78, 0, 0.15);border: 1px solid #eeeeee;}*/

/* latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"),
    url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html,
body {
  background-color: #f0f3f4;
  /*font-size: 15px;*/
  font-family: "Muli", sans-serif;
  text-rendering: optimizeLegibility;
  color: #58666e;
}

/*End Resets*/

/*Screen Transitions*/
.gradient {
  background-image: linear-gradient(
    to right bottom,
    rgba(12, 104, 224, 0.85),
    rgba(6, 58, 117, 0.85)
  );
}

.fade-enter-active {
  animation: fade-enter 0.75s;
}
@keyframes fade-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-enter-leave {
  animation: fade-leave 0.75s;
}
@keyframes fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*End screen transitions*/

/*Navbar CSS*/
.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  padding: 0;
  margin-left: 210px;
  margin-bottom: 0;
  border-bottom: 0;
  background-color: #fff;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 1031;
}

.navbar .dropdown-menu-right {
  border-radius: 0;
  line-height: 1.5rem;
}

.navbar-collapse {
  line-height: 35px;
}

.user-dropdown-navbar {
  min-width: 215px;
}

.loggedin-content {
  white-space: nowrap;
}

.logout-btn {
  width: 100%;
}

.navbar-toggle-fixed {
  position: fixed;
  left: 10px;
  top: 8px;
  z-index: 2000;
}

@media screen and (min-width: 769px) {
  .navbar-toggle-fixed {
    display: none;
  }
}

/*End Navbar CSS*/

/*Sidebar CSS*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 210px;
  z-index: 1032;
  background: linear-gradient(270deg, #c90000 0%, #c00101 50%);
  transition: left 0.1s;
}

.sidebar .brand-logo {
  margin-bottom: 15px;
}

.sidebar .brand-logo > a {
  display: block;
  line-height: 50px;
  text-align: center;
  padding: 10px;
}

.sidebar .brand-logo > a > img {
  max-width: 110px;
  transition: 0.5s all;
  /*max-height: 28px;*/
  display: inline-block;
}

.sidebar .brand-logo::after {
  content: "";
  position: absolute;
  border: 1px solid #5163ad;
  left: 20px;
  right: 20px;
}

.sidebar .nav a {
  border-left: 4px solid transparent;
  display: block;
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
  text-decoration: none;
  color: #d5e2f1;
}

.sidebar .nav > a.active {
  border-color: #2787f7;
  background-color: #2946bb;
  color: white;
}

.sidebar .nav > a:hover,
.sidebar .nav > a:focus {
  background-color: rgba(11, 55, 130, 0.2);
  outline: none;
}

.sidebar .nav > .active:hover,
.sidebar .nav > .active:focus {
  background-color: #2946bb;
}

.sidebar .nav > a .i,
.sidebar .nav > a .fa {
  margin-right: 10px;
  width: 16px;
  font-size: 16px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .sidebar.collapsed {
    left: -210px;
  }
}

#search-sidebar-link:hover {
  background-color: transparent !important;
}

.sidebar .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar .bottom::before {
  content: "";
  position: absolute;
  border: 1px solid #5163ad;
  left: 20px;
  right: 20px;
  top: -10px;
}

@media screen and (max-width: 768px) {
  .background-dark-collapse {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1031;
    background: rgba(0, 0, 0, 0.7);
  }
}
/*End Sidebar CSS*/

/*Main content*/
.main-content {
  margin-left: 210px;
  margin-top: 50px;
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
    transition: margin-left 0.15s;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar {
    margin: 0;
    transition: margin-left 0.15s;
  }
}
/*End Main content*/

/*  Miscellaneous utilities. */
.break {
  width: 100%;
  display: block;
  height: 10px;
}

.small-break {
  display: block;
  margin-top: 5px;
}

hr {
  margin-top: 0.5rem;
}

.sticky {
  position: sticky;
}

.tabbed-card > .header {
  line-height: 50px;
  border: 1px solid #e2e8ea;
  position: relative;
  background-color: #fff;
}

.tabbed-card > .header .nav-link {
  padding: 0 1rem;
  border: 0;
}

.tabbed-card > .header > .nav {
  margin-bottom: -1px;
}

.tabbed-card > .header .btn-right {
  position: absolute;
  right: 10px;
}

/*.tabbed-card > .header .nav {
	display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.tabbed-card > .header .nav li {
    display: inline-block;
    float: none;
}
*/
.tabbed-card > .header .active {
  border-bottom: 2px solid #0069ff;
}

.tabbed-card .content {
  display: block;
  background-color: #f9fafb;
  border: 1px solid #e2e8ea;
  border-top: 0;
}

.tabbed-card .content-wrapper {
  background-color: #fff;
  padding: 24px;
  position: relative;
}

.simple-card {
  background-color: #fff;
  border: 1px solid #e2e8ea;
}

.simple-card > .header {
  /*border-bottom: 1px solid #e2e8ea;*/
  position: relative;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
}

.simple-card .content {
  padding: 10px;
}

.simple-card.chain {
  border-right: 0;
}

.simple-card > .header .heading {
  display: inline-block;
}

/*Bootstrap overrides*/

.card {
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 100%;
}

.btn-primary {
  transition: none;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none !important;
}

.dropright .dropdown-menu {
  margin-left: 0;
  max-height: 300px;
  max-width: 350px;
  overflow-y: scroll;
}

.dropdown-menu {
  z-index: 1021; /* Issue with pagination buttons on more actions*/
}

.dropright .dropdown-menu .dropdown-item {
  white-space: normal;
  width: 100%;
}

.modal-dialog {
  margin-top: 4.5rem;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

#addcomplaintText {
  min-height: 120px;
}

.alert {
  position: fixed;
  width: calc(100% - 30px);
  top: 85%;
  z-index: 20;
  box-shadow: 0px 2px 5px grey;
  transition: 1s all;
}

@media screen and (min-width: 768px) {
  .alert {
    width: calc(100% - 258px);
    /* Hack :/ */
  }
}

th {
  cursor: pointer;
}

.loader {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  margin-bottom: -4px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-blue-spinner {
  display: inline-block;
  border: 3px solid transparent;
  border-left-color: #007bff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1.2s linear infinite;
  margin-left: 5px;
}

.small-red-spinner {
  display: inline-block;
  border: 3px solid transparent;
  border-left-color: #a94442;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1.2s linear infinite;
  margin-left: 5px;
}

.tiny {
  font-size: 60%;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  top: -1000px;
}

.multiselect {
  cursor: text;
}

.multiselect__tags {
  overflow: scroll;
  max-height: 180px;
}

.multiselect__tag {
  background: #558cff !important;
}
.multiselect__option--selected:after {
  color: green !important;
}
.multiselect__option--selected.multiselect__option--highlight:after {
  color: black !important;
}
.multiselect__option--highlight:after {
  background: #558cff !important;
}
.multiselect__option--selected.multiselect__option--highlight:after {
  background: #ff6a6a !important;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: #ff6a6a !important;
}
.multiselect__option--highlight {
  background: #558cff !important;
}

.multiselect__tag-icon:hover {
  background: none !important;
}

.language-json {
  background: #eee;
  overflow-y: auto;
  min-height: 40px;
  max-height: 180px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
/* End Miscellaneous utilities  */

/* Tables */

td .input-group {
  min-width: 150px;
}

.table-time {
  margin-bottom: 0.1rem;
}

.btn-pagination {
  /*  font-weight: bolder;
  font-size: 20px;*/
  color: grey;
}

@media screen and (max-width: 768px) {
  .btn-refresh {
    float: left;
  }
}

.actions-dropdown.show .caret:before,
.actions-dropdown.show .caret:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 8px 9px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.actions-dropdown.show .caret:before {
  top: -17px;
  right: 8px;
  border-bottom-color: #ccc;
}
.actions-dropdown.show .caret:after {
  top: -16px;
  right: 8px;
  border-bottom-color: #fff;
}

.actions-dropdown .dropdown-toggle {
  font-size: 17px;
}
.actions-dropdown .dropdown-item {
  cursor: pointer;
}

.actions-dropdown .dropdown-item:focus {
  outline: none;
}

.deleting {
  background-color: #f9caca !important;
  color: rgba(88, 102, 110, 0.6);
}

.deleting-spinner {
  position: absolute;
  left: 50%;
  margin-top: 15px;
}

.assigning {
  display: block !important;
}

.notassigning {
  display: none;
}

table thead th {
  vertical-align: top !important;
}

@media screen and (max-width: 768px) {
  .margin-bottom-mobile {
    margin-bottom: 20px;
  }
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 1s all;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*CUSTOM CHECKBOX CSS*/
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: none;
  border: 2px solid #afafaf8a;
  border-radius: 2px;
  transition: 0.1s all ease;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ddd;
  border: 2px solid #6e6e6e;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #6e6e6e;
  border: 2px solid #6e6e6e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*END CUSTOM CHECKBOX CSS*/

.table-row-actions {
  position: absolute;
  right: 30px;
  margin-top: 8px;
  display: none;
  background-color: #ececec;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 6px;
}

.collection-item:hover .table-row-actions {
  display: inline-block;
}

.table-row-actions .action-item {
  cursor: pointer;
  transition: 0.2s all;
  font-size: 17px;
  padding-left: 5px;
  padding-right: 5px;
}

.table-row-actions .action-item-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #58666e;
}

.table-row-actions .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.table-row-actions .action-item-btn:hover {
  color: black;
}

.table-row-actions .action-item-btn:focus {
  outline: none;
}

.shadow {
  /*Override autocomplete shadow*/
  box-shadow: none !important;
}

.rotating {
  -webkit-animation: spin 2s infinite linear;
}

.fa-sort {
  color: #d4d4d4;
}
/* End Tables */

/* Groups CSS */
.add-group-btn {
  border: 2px dashed gainsboro;
  color: #58666e;
  cursor: pointer;
}
/* End Groups CSS*/

/* Members CSS */
.addedMembers {
  height: 200px;
  overflow-y: scroll;
}
/* End Members CSS*/

.material-form-group {
  width: 100%;
}

.material-form-group .form-control {
  background: none;
  padding: 10px 10px 10px 0px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
  display: inline-block;
  width: calc(100% - 20px);
}
.material-form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

.material-form-group .form-control:focus ~ .bar:before {
  width: 100%;
}

.material-form-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.material-form-group .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 200ms ease all;
  left: 0%;
}

.material-form-group > label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.no-of-results {
  display: inline-block;
}

#spotlight_back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(39, 85, 165, 0.7);
  z-index: 499999;
  display: none;
}

#spotlight_wrapper {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  z-index: 500000;
}

#spotlight {
  display: block;
  width: 628px;
  height: 56px;
  margin: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1.6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNyAyMi41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjguMSIgY3k9IjguNCIgcj0iNi44Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjEzLjIiIHkxPSIxMi45IiB4Mj0iMjEuNSIgeTI9IjIxLjQiLz48L3N2Zz4=);
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 3.5%;
  padding: 0 52px;
}
#spotlight:-moz-placeholder {
  color: #bbbbbb;
}
#spotlight::-moz-placeholder {
  color: #bbbbbb;
}
#spotlight:-ms-input-placeholder {
  color: #bbbbbb;
}
#spotlight::-webkit-input-placeholder {
  color: #bbbbbb;
}

#desc {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 0 40%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666666;
}

.add-group-btn:focus,
.add-group-btn:active {
  outline: none !important;
}

/*
 Login Style
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #1d379a;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form .message a {
  color: #113791;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: -moz-linear-gradient(
    45deg,
    #2436ff 0%,
    #1b3680 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, #2436ff),
    color-stop(100%, #1b3680)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    45deg,
    #2436ff 0%,
    #1b3680 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    45deg,
    #2436ff 0%,
    #1b3680 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #2436ff 0%, #1b3680 100%); /* ie10+ */
  background: linear-gradient(45deg, #2436ff 0%, #1b3680 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B3680', endColorstr='#2436FF',GradientType=1 ); /* ie6-9 */
}

.small-white-spinner {
  display: inline-block;
  border: 3px solid transparent;
  border-left-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.2s linear infinite;
  position: absolute;
  margin-left: 5px;
}
